name: Build

on:
  push:
    paths-ignore:
      - '**.md'
    branches:
      - '*'
    tags:
      - '*'

jobs:
  build:
    name: Build
    runs-on: windows-2022
    defaults:
      run:
        shell: pwsh
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Build Dependencies
        run: |
          & .\deps\Build-Dependencies.ps1

      - name: Build Updater
        run: |
          $buildDir = "build"
          cmake -S . -B $buildDir
          cmake --build $buildDir --config Release
          cmake --install $buildDir --prefix output

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: updater
          path: ${{ github.workspace }}/output/bin/*
